@charset "utf-8";

*{
	margin: 0px;
	padding: 0px;
}
h2{
	text-align: center;
	color: #ffffff;
	font-family: 'Noto Sans JP', sans-serif;
	margin: auto 0 10px auto;
}

/* いいねリスト */
#nice ul{
list-style: none;
text-align: center;
}
#nice li a{
border: 1px solid #9F99A3;
background-color: #ffffff;
padding: 0px 200px;
text-decoration: none;
color: #333;
font-size: 20px;
}
#nice li a:hover{
border: 1px solid #8593A9;
background-color: #9EB7DD;
}

/* ボタン */
#number_list button{
	margin: 10px auto;
	display: block;
	background-color: transparent;
	border: 0px solid #fff;
	color: #fff;
}
